.splash-page-container {
    display: flex;
    flex-direction: column;
    width: 100%;
    margin-bottom: 20px;
}

.splash-page-upper-container {
    display: flex;
    flex-direction: column;
    width: 100%;
    align-items: center;
    color: #28400C;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

.splash-h1 {
    font-size: 62px;
    padding: 0px;
    margin: 0px;
    margin-top: 60px;
}

.splash-h3 {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    text-align: center;
    font-size: 24px;
    max-width: 480px;
}

.splash-page-img-container {
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: center;
    max-height: 700px;
    height: 500px;
}


.splash-page-img {
    border-radius: 25px;
    min-width: 1200px;
    max-width: 1200px;
    max-height: 500px;
    min-height: 500px;
}

body {
    background-color: rgb(243, 242, 239);
}

