.delete-booking-button {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    color: white;
    background-color: #f8bdb9;
    border: 1px solid #f8bdb9;
    font-size: 14px;
    height: 20px;
    width: 100%;
    margin-top: 4px;
}