body {
    position: relative;
    display: block;
    min-height: 110vh;
}

body::after {
    content: "";
    display: block;
    height: 50px;
}

footer {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    align-items: center;
    border-top: 1px solid #28400C;
    background: rgba(65, 189, 149, .2);
    font-size: 18px;
    text-align: center;
    position: absolute;
    top: 99%;
    right: 0;
    left: 0;
    bottom: 0;
    height: 60px;
}

.footer-container {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    align-content: center;
    width: 100%;
}

.img-small {
    max-width: 20px;
    max-height: 20x;
    margin-right: 5px;
}


.bottom-not-link {
    display: flex;
    flex-direction: row;
    align-items: center;
    font-size: 18px;
}

.link {
    cursor: pointer;
}