/* TODO Add site wide styles */
div {
    cursor: default;
}

html, body {
    margin: 0;
    padding: 0;
}

html {
    font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif
}

* > button {
    cursor: pointer !important;
}

textarea {
    resize: none;
    cursor: text;
}

link {
    cursor: pointer !important;
}


.pointer {
    cursor: pointer !important;
}