#edit-modal {
  position: fixed;
  top: 0;
  right: 0;
  left: 0;
  bottom: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 1;
  }
  
#edit-modal-background {
  position: fixed;
  display: flex;
  top: 0;
  right: 0;
  left: 0;
  bottom: 0;
  background-color: rgba(0, 0, 0, 0.7);
  }
  
#edit-modal-content {
  display: flex;
  position: fixed;
  background-color:white;
  border-radius: 25px;
  justify-content: center;
  width: 525px;
  margin-top: 2%;
  margin-bottom: 2%;
  }

.upload-wrapper {
  display: flex;
  flex-direction: column;
  padding: 25px;
}

.edit-spot-wrapper {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.edit-text {
  text-align: center;
}

.img-upload {
    border: 1px solid #ccc;
    padding: 6px 12px;
    cursor: pointer;
    margin-bottom: 15px;
}

.edit-spot-container {
  max-width: 500px;
  max-height: 455px;
  flex-wrap: wrap;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}