.page-not-found {
    position: absolute;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    min-width: 100%;
    min-height: 100%;
    z-index: 1;
    top: 0;
    background-color: rgba(196, 72, 65, 1)

}

.red {
    color: rgb(133, 41, 36)
}

.home-link {
    color: #40D9AC;
    font-weight: 700;
    font-size: 18px;
    text-decoration: none;
}